<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DairyDepartureConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\Projects\Kursach_BD\dairy departure\dairy departure\DairyDeparture1.accdb"
            providerName="System.Data.OleDb" />
        <add name="dairy_departure.Properties.Settings.DairyDepartureConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\Projects\Kursach_BD\dairy departure\dairy departure\DairyDeparture1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>